@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Noto Sans KR", serif;
}

a{
  color:#333;
  text-decoration: none;
}

/*--------------------------------------------------- nav -------------------------------------------*/

header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #fff;
  z-index: 1000;
}

nav{
  width: 1200px;
  margin: 0 20px;
}

.menu{
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-logo{
  width: 120px;
}

.menu-logo h1 img{                 
  width: 100%;
}

.menu-center a{
  margin: 50px 50px;
  font-size: 20px;
  font-weight: bold;
}

.menu-center a:hover{
  color: #599468;
}

.hero{
  width: 100%;
  height: 500px;
  background-image: url('/store.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  /* opacity: 0.9;                            이미지 희미하게*/ 
  position: absolute;
  top: 100px;
  left: 0;
}

.hero-section{
  width: 1200px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content{
  text-align: center;
  color: #eee;
  line-height: 1.8;
}

.hero-content h1{
  font-size: 45px;
}

.second{
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 600px;
}

.second-section{
  width: 1200px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.second-section a{
  font-size: 18px;
  margin: 30px;
}

.second-section a:hover{
  color: #599468;
}

hr{
  border: 0;
  border-top : 2px solid #c7c7c7;
  position: absolute;
  top: 660px;
  width: 100%;
}

/*--------------------------------------------------- cafelist -------------------------------------------*/

.cafelist-container{
  padding: 30px 30px;
  margin-top: 660px;
  width: 100%;
  display: flex;
  justify-content: center;
  
}

.cafe-button{
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-bottom: 20px;
}

.search-input {
  width: 200px;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  transition: all 0.2s ease-in-out;
}

.search-input:focus{
  border-color: lightslategray;
  box-shadow: 0 0 5px lightblue;
}

.cafe-list{
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  justify-content: center;
  gap: 15px;
  background-color: #333;
}

.cafe-item{
  border-top: 1px solid #e0e0e0;
  padding: 20px;
  display: flex;
  gap: 20px;
  flex-basis: calc(50% - 10px);       /* 2열 */
}

.cafe-item-img img{
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 2px;
}

.cafe-item-detail p{
  color: #e0e0e0;
}

.load-more{
  display: block;
  border-radius: 1px solid #e0e0e0;
  cursor: pointer;
  font-size: 14px;
}

.scroll-to-top{
  position: fixed;
  right: 50px;
  bottom: 170px;
  z-index: 1000;
}

/*--------------------------------------------------- cafedetail -------------------------------------------*/

.cafedetail-board{
  padding: 30px 30px;
  margin-top: 660px;
  width: 100%;
}

.cafe-detail{
  display: flex;
  justify-content: center;
  gap: 20px;
  border-top: 1px solid #e0e0e0;
  padding: 20px;
}

.cafe-detail-left{
  border-right: 1px solid #e0e0e0;
  padding-right: 20px;
}

.cafe-detail-left img{
  width: 300px;
  height: 300px;
  border-radius: 2px;
}

.cafe-detail-left p{
  font-size: 14px;
}

.cafe-detail-right{
  font-size: 14px;
}


/*--------------------------------------------------- cafeupload -------------------------------------------*/

.board{
  padding: 30px 30px;
  margin-top: 660px;
  width: 100%;
}





/*--------------------------------------------------- footer -------------------------------------------*/

/* footer{
  width: 100%;
  height: 150px;
  background-color: #333;
  color: #fff;
  position: absolute;
  margin: 0 auto;
} */