.cafe-search{
    padding: 20px;
    width: 100%;
    top: 660px;
    display: flex;
    justify-content: center;
    position: absolute;
    box-sizing: border-box;
  }
  
  .cafelist-top {
    width: 1200px;
    text-align: left;
    margin: 30px 30px;
    padding-bottom:20px;
    border-bottom: 2px solid #333;
  }
  
  .cafe-btn{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .search-input {
    width: 200px;
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    transition: all 0.2s ease-in-out;
  }
  
  .search-input:focus{
    border-color: lightslategray;
    box-shadow: 0 0 5px lightblue;
  }
  
  .cafelist-info{
    padding: 20px;
    width: 100%;
    top: 820px;
    display: flex;
    justify-content: center;
    position: absolute;
    box-sizing: border-box;
    flex-direction: column;
  }
  
  .cafe-list{
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
  }
  
  .cafe-item{
    padding: 20px;
    display: flex;
    flex-basis: calc(50% - 10px);       /* 2ì—´ */
  }
  
  /* .cafe-item-img {
    width: 100%;
    height: 100%;
    margin-right: 20px;
  } */
  
  .cafe-item-img img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 2px;
    margin-right: 20px;
  }
  
  .cafe-item-text{
    font-size: 18px;
  }
  
  .cafe-item-detail p{
    color: #e0e0e0;
  }
  
  .cafelist-load-more{
    display: flex;
    justify-content: center;
    /* width: 100%; */
    /* margin-top: 10px; */
  }
  
  .scroll-to-top{
    position: fixed;
    right: 50px;
    bottom: 50px;
    z-index: 1000;
  }