@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+KR:wght@100..900&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css");



/* ---------------------------body------------------------ */


/* ---------------------------NAV------------------------ */
.main-total-box {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100%;
    position: relative;
}
.main-total-box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* 반투명한 검은색 배경 */
    transition: background-color 0.5s ease; /* 색상 반전 애니메이션 */
}
.main-box {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}
.cafe, .comm {
    width: 50%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: background-color 0.5s ease;

}

.cafe {
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
}

.cafe::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/coffeemain5.jpg'); /* 배경 이미지 */
    background-size: cover;
    background-position: center;
    opacity: 0.5; /* 기본적으로 이미지가 보이지 않음 */
    transition: opacity 0.5s ease;
}

.cafe:hover::before {
    opacity: 1; /* 호버 시 이미지가 보이도록 설정 */
}

.cafe-font {
    font-weight: bold;
    /* color: rgb(255, 255, 255); */
    color: #FFA128;
    z-index: 0; /* 텍스트가 이미지 위에 표시되도록 */
    transition: transform 0.3s ease, color 0.5s ease;
}
.cafe-font h3{
    font-size: 80px;
}
.cafe-font p{
    font-size: 30px;
    margin-top: 20px;
    color: rgb(255, 255, 255);
}

.cafe-font-hr{
    width: 80px;
    margin : 5px auto;
    border: 2px solid rgb(255, 255, 255);
}

.cafe:hover .cafe-font {
    transform: translateY(-40px); /* 텍스트가 위로 올라감 */
    /* color: rgb(0, 0, 0); 텍스트 색이 검정으로 변함 */
    color: rgb(255, 255, 255);
}

.comm {
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
}

.comm::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/rightmain3.jpg'); /* 배경 이미지 */
    background-size: cover;
    background-position: center;
    opacity: 0.5; /* 기본적으로 이미지가 보이지 않음 */
    transition: opacity 0.5s ease;
}

.comm:hover::before {
    opacity: 1; /* 호버 시 이미지가 보이도록 설정 */
}

.comm-font {
    font-weight: bold;
    /* color: rgb(255, 255, 255); */
    color: #FFA128;
    z-index: 1; /* 텍스트가 이미지 위에 표시되도록 */
    transition: transform 0.3s ease, color 0.5s ease;
}
.comm-font h3{
    font-size: 80px;
}
.comm-font p{
    font-size: 30px;
    margin-top: 20px;
    color: rgb(255, 255, 255);
}
.comm-font-hr{
    width: 80px;
    margin : 5px auto;
    border: 2px solid rgb(255, 255, 255);
}
.comm:hover .comm-font {
    transform: translateY(-40px); /* 텍스트가 위로 올라감 */
    /* color: rgb(0, 0, 0); 텍스트 색이 검정으로 변함 */
    color: rgb(255, 255, 255);
}

.btn {
    margin-top: 10px;
}
