@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;
  }
  
  nav{
    width: 1200px;
  }
  
/*------------------------------------------------ menu -----------------------------------------------------------*/

  .menu{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .menu-logo{
    width: 350px;
    margin-top: 20px;
  }
  
  .menu-logo img{                 
    width: 100%;
  }
  
  .menu-left{
    display: flex;
    align-items: center;
  }
  
  .menu-left a{
    font-size: 16px;
  }
  
  .menu-left a:hover{
    color: #AB865C;
  }
  
  .menu-store{
    width: 550px;
    text-align: center;
  }
  
  .menu-store a{
    margin : 40px 40px;
    /* font-weight: bold; */
    font-weight: 500;
  }
  
  .menu-right{
    display: flex;
    align-items: center;
    height: auto;
  }
  
  .menu-right a:hover{
    color: #AB865C;
  }
  
  .menu-login{
    height: 100%;
  }
  
  .menu-login a{
    padding: 0 5px;
    font-size: 13px;
  }
  
  .menu-login a:nth-child(1) {
    border-right: 1px solid #bbb;
  }
  
  .menu-login a:nth-child(2) {
    border-right: 1px solid #bbb;
  }

  /*------------------------------------------------ icon -----------------------------------------------------------*/
  
  .social-icons{
    display: flex;
    gap: 5px;
    margin-right: 15px;
  }
  
  .social-icons i{
    font-size: 20px;
    margin-left: 5px;
  }
  
/*------------------------------------------------ hero -----------------------------------------------------------*/

  .hero{
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    /* opacity: 0.9; 이미지 희미하게*/ 
    margin-top: 90px;
  }
  
  .hero-section{
    width: 1200px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .hero-content{
    text-align: center;
    color: #eee;
    line-height: 1.8;
  }
  
  .hero-content p:nth-child(1){
    font-size: 45px;
    font-weight: bold;
    /* color: #333; */
  }

  /*------------------------------------------------ second -----------------------------------------------------------*/
  
  /* .second{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    top: 600px;
  }
  
  .second-section{
    width: 1200px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .second-section a{
    font-size: 18px;
    margin: 30px;
  }
  
  .second-section a:hover{
    color: #599468;
  }
  
  .nav-hr{
    border: 0;
    border-top : 2px solid #c7c7c7;
    width: 100%;
  } */