.breadcrumb-list-board{
  width: 1200px;
  font-size: 16px;
  color: #7c7c7c;
  margin: 30px auto;
}


/*------------------------------------------------ notice-top -----------------------------------------------------------*/

.community-title h2 {
  font-size: 40px;
}

.search-box {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.search-box select {
  width: 100px;
  height: 40px;
  margin-right: 5px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 0 10px;
}
  
.search-box input {
  width: 350px;
  height: 40px;
  padding: 0 10px;
  outline: none;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
  
.search-box button {
  width: 60px;
  height: 40px;
  background-color: #FFA128;
  border: none;
  margin-left: 5px;
  border-radius: 5px;
  cursor: pointer;
  color: #eee;
}

/*------------------------------------------------ notice-board table -----------------------------------------------------------*/

.tab-content{
  margin-bottom: 20px;
}

.community-board{
    width: 1200px;
    margin: 0 auto;
}

.community-top {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
  align-items: center;
}

  
.community-board table {
    width: 100%;
    border-collapse: collapse;
  }

.community-board table tr th {
    height: 60px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.community-board table tr th {
    /* border: 1px solid #ccc; */
    width: 10%;
    background-color: #f7f7f7;
    font-size: 18px;
}

.community-board  table tr th:nth-child(2) {
  width: 40%;
} 

.community-board  table tr td {
  width: 10%;
  font-size: 18px;
  text-align: center;
  height: 60px;
}

.community-board  table tr td:nth-child(2) {
    text-align: left;
    width: 40%;
    cursor: pointer;
}

.with-border {
  border-bottom: 1px solid #ccc;
}

/*------------------------------------------------ add-button -----------------------------------------------------------*/

.button-section {
  width: 1200px;
  margin: 15px auto;
}

.add-btn {
  display: flex;
  justify-content: right;
}

.add-btn button {
  width: 70px;
  height: 40px;
  background-color: #FFA128;
  color: #eee;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

/*------------------------------------------------ 페이지네이션 -------------------------------------------------------------*/
.pagination-comm {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.pagination-comm-left,
.pagination-comm-right{
  padding: 8px 16px;
  height: 40px;
  line-height: 32px;
  border: 1px solid #ddd;
  color: #000;
  background: #fff;
  cursor: pointer;
  margin: 0 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  border-radius: 4px;
}

.pagination-comm span {
  padding: 8px 16px;
  height: 40px;
  line-height: 32px;
  border: 1px solid #ddd;
  cursor: pointer;
  margin: 0 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  border-radius: 4px;
}


.notice-active{
  font-weight: bold;
  background-color: #FFA128; /* 원하는 배경 색상 */
  color: #fff;  /* 글자 색상 */
  border-radius: 5px;
}