
.main-container {
    width: 1200px;
    margin: 0 auto;
}

/*------------------------------------------------ title -----------------------------------------------------------*/

.title-section {
    border-top: 1px solid black ;
    border-bottom: 1px solid black ;
    align-items: center;
    margin-top: 50px;
    padding: 5px 10px;
}

.title-section h2 {
    font-size: 30px;
}

.info {
    padding: 5px 0px;
    display: flex;
}

.info span {
    margin-right: 20px;
}

/*------------------------------------------------ content -----------------------------------------------------------*/

.content {
    padding: 10px 10px;
}

.attached-files {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #b8b4b4 ;
}

.attached-files p {
    padding: 10px 10px;
}

.attached-files ul{
    list-style: none;
    display: flex;
}

.attached-files ul li{
    margin-left: 10px;
}

.content p {
    font-size: 18px;
    margin: 10px 0;
  }
  
.content img {
    display: block;
    margin: 35px auto;
    max-width: 100%;
    max-height: 100%;
    border-radius: 8px;
    object-fit: cover;
}

/*------------------------------------------------ list -----------------------------------------------------------*/

.list-btn {
    padding: 5px 0;
    text-align: right;
}

.list-btn button {
    width: 90px;
    height: 40px;
    cursor: pointer;
    background-color: #FFA128;
    color: #eee;
    border: 0;
    border-radius: 5px;
    font-size: 18px;
}

/*------------------------------------------------ 댓글 -----------------------------------------------------------*/

.comment-section {
    width: 1200px;
    margin: 10px auto;
    align-items: center;
    border-top: 1px solid black;
}

.commentlist {
    border-top: 1px solid black ;
    margin-bottom: 10px;
}

.com_author{
    padding: 3px 5px;
    font-weight: bold;
    font-size: 16px;
}

.com_time {
    font-size: 13px;
}

.com_time, .com_comment  {
    padding: 3px 10px;
}

.comments {
    align-items: center;
    border-top: 1px solid #ccc;
}
/*------------------------------------------------ 댓글등록 -----------------------------------------------------------*/

.comment-section h4, .add-comment h4 {
    padding: 5px 0;
    font-size: 18px;
}

.add-comment {
    border-top: 1px solid black ;
}

.write-section {
    width: 100%;
    align-items: center;
}

.write-btn {
    display: flex;
    justify-content: right;
}

.add-comment textarea {
    width: 100%;
    height: 90px;
    padding: 5px;
    resize: none;
    font-size: 14px;
}
  
.add-comment  button {
    width: 90px;
    height: 40px;
    font-size: 18px;
    cursor: pointer;
    background-color: #FFA128;
    color: #eee;
    border: 0;
    border-radius: 5px;
}
  