/*------------------------------------------------ faq-board -----------------------------------------------------------*/
.faq-board {
  width: 1200px;
  margin: 40px auto;
  
}

/*------------------------------------------------ faq-top -----------------------------------------------------------*/
.faq-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0;
  width: 100%;
}

.faq-title h2 {
  font-size: 40px;
  text-align: center; /* 제목을 가운데 정렬 */
}

/*------------------------------------------------ faq-search-box -----------------------------------------------------------*/
.faq-search-box {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.faq-search-box select {
  width: 100px;
  height: 40px;
  margin-right: 5px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 0 10px;
}

.faq-search-box input {
  width: 350px;
  height: 40px;
  padding: 0 10px;
  outline: none;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.faq-search-box button {
  width: 60px;
  height: 40px;
  background-color: #FFA128;
  border: none;
  margin-left: 5px;
  border-radius: 5px;
  cursor: pointer;
  color: #eee;
}

/*---------------------------------------------------------- FAQ 목록 스타일 ---------------------------------------------------*/
.faq-list {
  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 2px solid #ccc;
}

.faq-item {
  border-bottom: 1px solid #ddd;
  transition: all 0.3s ease;
  width: 100%;
  background-color: #fff;
}

.faq-item-header {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  padding: 18px;
  transition: background-color 0.3s;
}

.faq-item-header span:hover {
  color: #FFA128; /* 마우스 올리면 본문 글자색이 변경 */
}

.faq-item-header p {
  font-size: 20px;
  font-weight: 600;
}

.faq-item-details {
  padding: 20px;
  background-color: #fff7ec;
  border-top: 1px solid #ddd;
  font-size: 16px;
  line-height: 1.6;
  display: none;
  animation: fadeIn 0.3s ease;
}

.faq-answer-prefix {
  color: #FFA128;
  font-weight: bold;
  margin-right: 5px;
  font-size: 24px;
}

.faq-item.open .faq-item-details {
  display: block;
}

.faq-item.open .faq-item-header {
  background-color: transparent;
}

.faq-item.open .faq-item-header p {
  color: #FFA128;
  font-weight: bold;
}

/*드롭다운으로 열릴 때 부드럽게 나타나도록*/
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

/*------------------------------------------------ add-button -----------------------------------------------------------*/
.button-section {
  width: 1200px;
  margin: 5px auto;
}

.add-btn {
  display: flex;
  justify-content: right;
}

.add-btn button {
  width: 70px;
  height: 40px;
  background-color: #FFA128;
  color: #eee;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/*------------------------------------------------ 페이지네이션 -------------------------------------------------------------*/
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.pagination button,
.pagination span {
  padding: 8px 16px;
  height: 40px;
  line-height: 32px;
  border: 1px solid #ddd;
  background: #fff;
  cursor: pointer;
  margin: 0 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  border-radius: 4px;
}

.pagination button {
  color: #2c3e50;
}

.pagination .prev-btn,
.pagination .next-btn {
  color: #2c3e50;
}

/* .pagination button.active {
  font-weight: bold;
  background-color: #FFA128;
  color: white;
  border-radius: 5px;
} */
