
  /*------------------------------------------------ tab-menu -----------------------------------------------------------*/

  .menu-section {
    display: flex;
    justify-content: center;
    width: 1000px;
    margin: 0 auto;
  }
    
  .menu-section button {
      width: 100%;
      height: 60px;
      font-size: 20px;
      background-color: #fff;
      border: none;
      cursor: pointer;
      margin: 0 auto;
  }
    
  .menu-section button.active {
      background-color: #FFA128;
      color: white;
      font-weight: bold;
  }
  
  .community-hr hr{
    border: 0;
    border: 1px solid #e0e0e0;
  }