.add-board-wrapper {
  width: 900px;
  margin: 40px auto;
  padding: 30px;
  border: 2px solid #e7e7e7;
  font-family: 'Noto Sans KR', sans-serif;
  align-items: center;
}

.form-title {
  font-size: 28px;
  margin-bottom: 24px;
  text-align: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.file-title, .file-content, .file-upload {
  display: flex;
  flex-direction: column;
}

.file-title label, .file-content label, .upload-title {
  font-size: 20px;
  margin-bottom: 6px;
  font-weight: bold;
}

.file-title input, .file-upload textarea {
  height: 60px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.textarea-info {
  font-size: 12px;
  color: #888;
  margin-top: 4px;
}

.file-upload .file-row {
  display: flex;
  gap: 10px;
  align-items: center;
}

.file-name-input {
  width: 900px;
  padding: 10px;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

/* Editor Toolbar */
.editor-toolbar {
display: flex;
margin-bottom: 10px;
border-bottom: 1px solid #ccc;
padding-bottom: 10px;
margin-bottom: 15px;
}

.ck-editor__editable_inline {
min-height: 400px;
}


/* Buttons at the bottom */
.button-group {
display: flex;
justify-content: space-between;
margin-top: 20px;
}

.submit-btn, .cancel-btn {
padding: 10px 20px;
border-radius: 5px;
cursor: pointer;
}

.submit-btn {
background-color: #FFA128;
color: white;
border: none;
}

.cancel-btn {
background-color: #FFA128;
  color: white;
  border: none;
}