.cafe-upload {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
  }

.cafe-upload-button {
    padding: 10px 20px;
    background-color: #103481d3;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    font-size: 0.9rem;
  }

  /* 본문 테이블 */

.mycafe-table-section {
    background-color: #f9f9f9;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  }
  
  .mycafe-table-section-h2 {
    margin-bottom: 15px;
    font-size: 1.5rem;
    font-weight: 700;
    color: #333;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
  }

  /* 게시글없다 css */
  .mycafe-empty-message{
    padding: 12px;
  }

  .mycafe-table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px; 
    border: 1px solid #ddd;  /* 테이블 전체 경계선 추가 */
  }
  
  .mycafe-table-th,
  .mycafe-table-td,
  .mycafe-table-td-date {
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd; 
  }
  
  .mycafe-table-th {
    background-color: #f9fafb;
    font-weight: 600;
    color: #555;
  }

.mycafe-table tr:nth-child(even) {
  background-color: #f7f7f7;
}
  
  .mycafe-table-tr:hover {
    background-color: #f5f5f5;
  }

  .mycafe-table-td-btns{
    display: flex;
    justify-content: center;
  }

  .mycafe-table-td-date{
    text-align: center;
  }

  /* 예: 번호 열 */
.mycafe-table th:first-child,
.mycafe-table td:first-child {
  width: 9%;
  text-align: center;
}

  /* 카페명 */
.mycafe-table th:nth-child(2),
.mycafe-table td:nth-child(2) {
  width: 16%;
}

/* 예: 제목 열 */
.mycafe-table td:nth-child(3) {
  width: 25%;
}

/* 예: 신청일, 승인일 열 */
.mycafe-table th:nth-child(4),
.mycafe-table td:nth-child(4) {
  width: 15%;
}

/* 예: 상태 열 */
.mycafe-table th:nth-child(5),
.mycafe-table td:nth-child(5) {
  width: 12%;
}

/* 예: 비고 열 */
.mycafe-table th:nth-child(6),
.mycafe-table td:nth-child(6) {
  width: 20%;
}

  /* 버튼 css*/

  .mycafe-table-td-showbtn{
    background-color: #103481d3;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.9rem;
  }

  .mycafe-table-td-cancelbtn {
    background-color: #ef4444;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.9rem;
  }
  
  .mycafe-table-td-editbtn{
    background-color: #103481d3;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.9rem;
    margin-right: 5px;
  }

  .mycafe-table-td-deletebtn {
    background-color: #ef4444;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.9rem;
  }

  