.mypage-content{
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  margin-bottom: 30px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.mypage-comment{
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.mypage-h2 {
  font-size: 1.5rem;
  color: #333;
  border-bottom: 2px solid #ddd;
  padding-bottom: 10px;
}

.mypage-content table,
.mypage-comment table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}


.mypage-content table th,
.mypage-content table td,
.mypage-comment table th,
.mypage-comment table td {
  padding: 12px;
  text-align: center;
  border: 1px solid #ddd;
}

.mypage-content table tr:nth-child(even),
.mypage-comment table tr:nth-child(even) {
  background-color: #f7f7f7;
}

.mycommunity-showbtn{
  padding: 8px 15px;
  background-color: #103481d3;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9rem;
}


/* Style for number columns */
.mypage-content th:first-child,
.mypage-content td:first-child,
.mypage-comment th:first-child,
.mypage-comment td:first-child {
  width: 10%;
}

/* Style for "비고" column */
.mypage-content th:last-child,
.mypage-content td:last-child,
.mypage-comment th:last-child,
.mypage-comment td:last-child {
  width: 20%;
}

.mypage-content  table tr td:nth-child(2),
.mypage-comment  table tr td:nth-child(2) {
    text-align: left;
    width: 30%;
}


/* button style */
.mycommunity-editbtn{
    background-color: #103481d3;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.9rem;
    margin-right: 5px;
}

.mycommunity-deletebtn{
    background-color: #ef4444;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.9rem;
}
