/* 기본 설정 */
.mypage-total-box {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    margin-top: 100px;
  }
  
  /* 사이드바 스타일 */
  .mypage-sidebar {
    width: 300px;
    background-color: #2c3e50;
    color: white;
    border-right: 1px solid #ddd;
    box-sizing: border-box;
    height: 1100px;
  }
  
  .mypage-sidebar-title {
    font-size: 24px;
    margin: 30px;
    font-weight: bold;
    text-align: center;
  }

  .mypage-img-box{
    border-bottom: 1px solid #ddd;
    /* background-color: #ccc; */
  }

  .mypage-sidebar-img-profile{
    border-radius: 50%;
    object-fit: cover;
    display: flex;
    justify-content: center;
  }
  
  .mypage-img-2{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    /* border: 2px solid #2c3e50; */
    margin-bottom: 20px;
  }

  .mypage-wecl-p, .mypage-wecl-h2{
    text-align: center;
  }

  .mypage-wecl-h2{
    margin-bottom: 20px;
  }

  .mypage-sidebar-menu {
    list-style-type: none;
    padding: 0;
    padding: 20px 30px;
  }

  .mypage-sidebar-item {
    display: block;
    padding: 15px 0;
    color: white;
    text-decoration: none;
    font-size: 23px;
  }

  .mypage-sidebar-item-content{
    font-size: 15px;
    color: #ccc;
    padding-left: 20px;
    display: block;
    margin-bottom: 10px;
  }
  

  
  .mypage-sidebar-item:hover {
    background-color: #34495e;
    color: white;
  }

  .mypage-bye-box{
    padding: 20px 30px;
  }
  
  /* 본문 스타일 */
  .mypage-content {
    padding: 40px;
    box-sizing: border-box;
    background-color: white;
    border-radius: 10px;
    width: 900px;
  }
  
  /* 프로필 섹션 스타일 */
  .mypage-section {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    margin: 20px auto;
  }
  
  .mypage-box-profile {
    width: 40%;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .mypage-img-box-box{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .mypage-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #2c3e50;
  }


  /* 정보 섹션 스타일 */
  .mypage-box-profile-2 {
    width: 60%;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }

  .mypage-p-total-box{
    height: 50vh;
    display: flex;
    padding: 10px;
    flex-direction: column;
  }
