.register-edit-wrapper {
    max-width: 700px;
    margin: 40px auto;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  }
  
  .register-edit-wrapper h2 {
    font-size: 24px;
    margin-bottom: 24px;
    text-align: center;
    color: #333;
  }
  
  .register-edit-form {
    display: flex;
    flex-direction: column;
    gap: 14px;
  }

  .register-edit-grade-p{
    font-size: 13px;
    color: #888;
    
  }
  
  .register-edit-form-label {
    font-size: 14px;
    color: #444;
    font-weight: 500;
  }

  .register-edit-form-nickname{
    display: flex;
    gap: 8px;
  }
  
  .register-edit-form-input,
  .register-edit-form-select {
    width: 100%;
    padding: 10px 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    box-sizing: border-box;
  }
  
  .register-edit-form-input:disabled {
    background-color: #f5f5f5;
    color: #888;
  }
  


  /*-------------------------------------------------------------------------------------------------------*/
  .register-edit-nickname-btn {
    background-color: #e0e0e0;
    color: #333;
    padding: 0 13px;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
    height: 40px;
    white-space: nowrap;  /* 줄바꿈 방지 */
  }
  
  .register-edit-nickname-btn:hover {
    background-color: #d4d4d4;
  }

  .register-edit-email{
    display: flex;
    gap: 5px;
    align-items: center;
  }

  .register-edit-email-check{
    font-size: 14px;
    color: #444;
    font-weight: 500;
  }
  
  .register-edit-button-group {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 24px;
  }
  
  .register-edit-button-group-edit {
    background-color: #2c3e50;
    color: white;
    padding: 10px 16px;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  .register-edit-button-group-edit:hover {
    background-color: #405a74;
  }
  
  .register-edit-button-group-cancel {
    background-color: #e5e7eb;
    color: #333;
    padding: 10px 16px;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
  }
  
  .register-edit-button-group-cancel:hover {
    background-color: #d1d5db;
  }