/* 전체 사이드바 */
.sidebar-tap {
  width: 300px;
  height: 100vh;
  background-color: #2d3e50;
  color: #fff;
  padding: 20px;
  font-size: 14px;
  border-right: 2px solid #34495e;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

/* 제목 및 홈 아이콘 */
.sidebar-tap h2.sidebar-h2 {
  font-size: 22px;
  margin-bottom: 20px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebar-tap h2.sidebar-h2 .sidebar-icon {
  margin-left: 10px;
  color: #fff;
  font-size: 18px;
}

/* 메뉴 리스트 */
.sidebar-tap ul.sidebar-ul {
  list-style: none;
  padding: 0;
  margin: 0;
  flex-grow: 1;
}

/* 개별 메뉴 아이템 */
.sidebar-tap ul.sidebar-ul li .sidebar-item {
  font-size: 16px;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  font-weight: 500;
  transition: ackground-colo 0.2s;
}

/* 링크 스타일 */
.sidebar-tap ul.sidebar-ul li .sidebar-item a {
  text-decoration: none;
  color: #fff;
  display: block;
  padding: 6px 0;
  border-radius: 5px;
  font-size: 16px;
}

/* 메뉴 hover */
.sidebar-tap ul.sidebar-ul li .sidebar-item:hover {
  background-color: #3c5a72;
  border-radius: 5px;
}

/* 드롭다운 리스트 */
.sidebar-tap ul.sidebar-ul li ul.dropdown-list {
  list-style: none;
  padding-left: 15px;
  margin-top: 5px;
}

/* 드롭다운 항목 링크 */
.sidebar-tap ul.sidebar-ul li ul.dropdown-list li .dropdown-list-a {
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  display: block;
  transition: background-color 0.3s;
  border-radius: 4px;
}

/* 드롭다운 hover */
.sidebar-tap ul.sidebar-ul li ul.dropdown-list li .dropdown-list-a:hover {
  background-color: #3c5a72;
  padding-left: 10px;
}

/* 로그아웃 영역 */
.sidebar-tap ul.sidebar-ul li.sidebar-logout {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  height: 40px;
  border-radius: 5px;
  transition: background-color 0.3s;
  cursor: pointer;
}

/* 로그아웃 버튼 */
.sidebar-tap ul.sidebar-ul li.sidebar-logout button.sidebar-logout-btn {
  background: none;
  border: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  padding: 0;
}

.sidebar-tap ul.sidebar-ul li.sidebar-logout:hover {
  background-color: #3498db;
  color: #fff;
}

/* 하단 로고 */
.sidebar-tap .downlogo {
  margin-top: 0;
  padding-top: 20px;
  text-align: center;
  width: 200px;
  height: 60px;
}

.sidebar-tap .downlogo img {
  width: 100%;
  height: 100%;
}
